###############
# Cadence
###############
*.cadence
.cadence
*.pcdb
.pcdb
*.v.bak
*.png
*.cdslck
*.cdslck*
*.DS_Store
*.log
*.pak
*.inca*
*.DS_Store
inca.*
*.cdsvmod
*.jpg
*.-
*.cfg%

###############
# C++
###############
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Executables
*.exe
*.out
*.app
