###############
# Cadence
###############
*.cadence
.cadence
*.pcdb
.pcdb
*.v.bak
*.png
*.cdslck
*.cdslck*
*.DS_Store
*.log
*.pak
*.inca*
*.DS_Store
inca.*
*.cdsvmod
*.jpg
*.oa-
*.cfg%
*.swp

###############
# C++
###############
*.d
*.x
.gdb*
#*.html

# Eclipse files
 *.cproject
 *.project
 *.settings
 
# Object files
*.elf
*.o
*.ko
*.obj

# Executables
*.exe
*.out
*.app
